/**********
 * COLORS *
 **********/
$c-black: #353535;
$c-purple: #6153CC;
$c-white: #E6E1FF;

/*********
 * FONTS *
 *********/
$f-black: "Lato Black", sans-serif;
$f-bold: "Lato Bold", sans-serif;
$f-hairline: "Lato Hairline", sans-serif;
$f-light: "Lato Light", sans-serif;
$f-regular: "Lato Regular", sans-serif;
